<!DOCTYPE html>
<html>
  <head>
    <title>Attendance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6dd6968c0b.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% @path.each do |path| %>
      <% if current_page?(path) %>
        <% @header = false %>
      <% end %>
    <% end %>
    <% if @header %>
      <%= render "layouts/header" %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
